<% @page_title="New section" %>

<%= link_to("<< Back to list", {:action=>'index', :page_id=>@page.id}) %>

<div class="sections new">
	<h2>Create Section</h2>

	<%= form_for(:section, :url=>{:action=>'create', :page_id=>@page.id}) do |f| %>
		
		<!-- Adding the use of a partial -->

		<%= render(:partial=>'form', :locals=>{:f => f}) %>
		

		<div class="form-buttons">
			<%= submit_tag("Create Subject")%>
		</div>

	<% end %>
</div>